
<%= render 'users/list', book:@book_new, user:@user %>

<h2>Books</h2>
<div class ="col-xs-9">
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
 	    <%= render 'books/post_lists' %>
  </tbody>
</table>
</div>
